.primary_style{
    padding: 14px 7px;
    background-color: black;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 220px;
    font-size: 16px;
    justify-content: center;
    cursor: pointer;
}

.outline_style{
    padding: 14px 7px;
    border: 1px solid gray;
    color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 220px;
    font-size: 16px;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

